<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body>
        <header>
            
                <div class="container">
                    <img src="images/img1.jfif" alt="">
                    <div><button class="button">DOWNLOAD CV</button>
                    <button onclick="darkMode()" class="button1">DARK MODE</button></div>
                </div>
              <div class="one"> <h1 class="animate">WEB FULL-STUCK DEVELOPER</h1>
                <br>
                <span class="h2" >About me</span>
            <p>I'm Roa'a Tareq I'm web full-stack developer <br>I'm graduited from computer science,
                 design photoshop ,<br> I want to be security developer <br>
                I will be professional, and I want to be graphic design in the future. </p>
                <hr class="hr1" color="#00225a"></div>  
              
            
        </header>
        <section class="home">
           <div class="homeme">
            <i class="fa fa-calendar	
            ">&nbsp; 1998/12/17</i>
            <i class="fa fa-phone">&nbsp; 777777777</i>
            <i class="fa fa-graduation-cap">Computer Science graduited</i>
            <i class="fa fa-envelope"> roor3hakimi@gmail.com</i>
          
        </div>
        
           <hr  class="hr2"
           color="#00225a" >
        
        
        </section>
        <section class="about">
            <div class="skill">
            <span class="h3">Skills</span>
        </div>
            <div class="lang">
                <div>
                <img src="images/c.svg" alt="">
           <p>C++</p>
        </div>
        <div>
           <img src="images/c--4.svg" alt="">
           <p>C#</p>
        </div>
        <div>
           <img src="images/python-5.svg" alt="">
           <p>Python</p>
        </div>
        <div>
           <img src="images/adobe-photoshop-2.svg" alt="">
           <p>Photoshop</p>
        </div>
        <div>
           <img src="images/javascript-1.svg" alt="">
           <p>Javascript</p>
        </div>
        <div>
           <img src="images/nodejs-icon.svg" alt="">
           <p>Nodejs</p>
        </div>
        <div>
           <img src="images/codeigniter-1.svg" alt="">
           <p>codignater</p>
        </div>
        <div>
           <img src="images/unity-69.svg" alt="">
           <p>unity</p>
        </div>
        </div>
        <hr class="hr3" color="#00225a">
   
        </section>
        <section class="service">
            <div class="exp">
            <span class="h4">Experience</span>
            </div>
            <div class="experience">
                
                  <div class="year"><p> <i class="fa fa-calendar	
                    ">&nbsp;2021</i></p></div> 
                  <div> <p class="pargraph"> Back-End developer</p></div> 
                  <div class="pargraph1"> <p>with NERDO team</p></div> 
                    <div class="year2"><p> <i class="fa fa-calendar	
                        ">&nbsp; 2020</i></p></div>
                 <div class="pargraph2"> <p > Phtotshop design</p></div>  
               <div class="pargraph3" >   <p>Freelancer</p></div> 
                
                
                
            
            </div>
            <hr class="hr4" color="#00225a">
           
        </section>
      
        <section class="project">
            <div class="pro">
                <span class="h5">Projects</span></div>
                <div class="pro2">
                    <div class="project1">
                        <a href="https://github.com/NohaPepeep/Gift-shop"><img src="images/gifts-3-1420772.jpg" alt="">
                    </a>
                    <p>first project</p>
                </div>
                <div class="project1">
                    <a href="https://github.com/ro5a/Sunnyside-agency-landing-page-coding-challenge"><img src="images/Screenshot_2022-01-12-15-26-03~2.png" alt="">  
    </a><p>second project</p>
                </div>
                </div>
        
            
        </section>
        <hr  class="hr5" color="#00225a">
        <footer >
            <div class="con">
                <span class="h6">Contuct</span>
            </div>

            <div class="contuct">
                <div class="form">
                    <form action="index.html">
                        <h2>SEND ME A MESSAGE</h2>
                        <input type="text" name="username" placeholder="Your Name"> <br>
                        <input type="password" name="password" placeholder="Your Password"><br>
                        <textarea name="message" id="" placeholder="Your Message" ></textarea>
                        <br>
                        <button class="button3">SEND</button>
                    </form>
                </div>
            <div class="social">
            <i class="fa fa-facebook-official">facebook.com/Roaa Alhakimi</i>
           <i class="fa fa-twitter-square"> twitter.com/HakimiRoaa</i>
            <i class="fa fa-envelope-square">roor3hakimi@gmail.com </i>
        </div>
    </div>
        </footer>
    </body>
</html>